@use '../../_css/type.scss' as *;

.lowImpactHero {
}

.links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  padding-top: var(--base);
  flex-wrap: wrap;
  margin: calc(var(--base) * -.5);

  & > * {
    margin: calc(var(--base) / 2);
  }
}
