PORT=3000

DATABASE_URI=mongodb+srv://laeeqahmed656:laeeqahmed656@cluster0.8ts4nch.mongodb.net/twave?appName=Cluster0

PAYLOAD_SECRET=e17a273a8f41621a89971a027f2df4b600a3fb7cd04037402766b5d83a83d539

PAYLOAD_PUBLIC_SERVER_URL=http://localhost:3000
NEXT_PUBLIC_SERVER_URL=http://localhost:3000

STRIPE_SECRET_KEY=sk_test_51QC6WnE3BUlUylMZzE47uCAlPWX20tpqrUFfJnnEUHrsOUUrixVZ9YN97qKoS0xMVG34K1bVfa6qsCLiQI2BEltM005dX6ecxi
PAYLOAD_PUBLIC_STRIPE_IS_TEST_KEY=true
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51QC6WnE3BUlUylMZkSzp3mDC0JiEoqFXDhhWZEKfvlP1UtHdrZdNhmJVJo60pYGez73IQYgNMX8bsfWxHTJqSQfC00XfAQZ4fC

NEXT_PUBLIC_IS_LIVE=true

PAYLOAD_PUBLIC_DRAFT_SECRET=1e0d5ef64cf500c50bcafe89987d38d7
NEXT_PRIVATE_DRAFT_SECRET=1e0d5ef64cf500c50bcafe89987d38d7

REVALIDATION_KEY=09f7fd89335723b908ac4a1d6ce709dc
NEXT_PRIVATE_REVALIDATION_KEY=09f7fd89335723b908ac4a1d6ce709dc
